* {
    box-sizing: border-box;
}
body {
    letter-spacing: 1px;
    background-color: #e1e5ee;
    font-family: 'Josefin Slab', serif;
}
header, nav {
    display: grid;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}
nav {
    width: 50%;
    grid-template-columns: 25% 25%;
    margin: auto;
}
main {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
}
p {
    margin: 0;
}
.title {
    font-variant:small-caps;
    font-size: 150%;
}
.genre {
    font-size: 80%;
}
div {
    border: 1px solid #2a324b;
    margin: 5%;
    padding: 10px;
    background-color: #c7ccdb;
    color: #000000;
    text-align: center;
    align-content: center;
}
a {
    margin: 5%;
    padding: 10px;
    text-align: center;
    align-content: center;
}
