* {
    box-sizing: border-box;
}
body {
    letter-spacing: 1px;
    background-color: #e1e5ee;
    font-family: 'Josefin Slab', serif;
    color: #000000;
}
h1 {
    margin: 0;
    padding-top: 50px;
}
header, nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e1e5ee;
    display: grid;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
nav {
    grid-template-columns: 25% 25%;
    margin: 92px auto auto auto;
}
main {
    padding: 180px 5% 5% 5%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
}
p {
    margin: 0;
}
.title {
    font-variant:small-caps;
    font-size: 150%;
}
.genre {
    font-size: 80%;
}
div {
    border: 1px solid #2a324b;
    background-color: #c7ccdb;
    color: #000000;
    border-radius: 3px;
}
a,
div {
    margin: 5%;
    padding: 10px;
    text-align: center;
    align-content: center;
}
.btn:link,
.btn:visited {
    color: #000000;
    text-decoration: none;
    border: 1px solid #2a324b;
    background-color: #c7ccdb;
    border-radius: 3px;
}
.btn:hover {
    background-color: #e1e5ee;
    transition-duration: 0.5s;
    border-color: #6d7275;
    font-weight: bold;
}
@media screen and (max-width: 800px){
    main {
        grid-template-columns: 80%;
    }
    nav {
        grid-template-columns: 30% 30%;
    }
}
@media screen and (max-width: 450px){
    div {
        font-weight: bold;
    }
    h1 {
        font-size: 120%;
    }
    .title {
        font-size: 100%;
    }
}